@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #BA4631;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar {
    scrollbar-width: none;
    scrollbar-color: #c5c5c5 #BA4631;
}
